@using TwistedGames.Core
@using TwistedGames.Core.Common
<div class="row">
    <label type="button" class="btn btn-default action-btn" data-action="@((int)ActionType.Up)">↑</label>
</div>
<div class="row">
    <label type="button" class="btn btn-default action-btn" data-action="@((int)ActionType.Left)">←</label>
    <label type="button" class="btn btn-default action-btn" data-action="@((int)ActionType.Action)">·</label>
    <label type="button" class="btn btn-default action-btn" data-action="@((int)ActionType.Right)">→</label>
</div>
<div class="row">
    <label type="button" class="btn btn-default action-btn" data-action="@((int)ActionType.Down)">↓</label>
</div>