@using TwistedGames.Core
<div class="row">
    <label type="button" class="btn btn-default col-md-offset-3 col-md-3 action-btn" data-action="@((int)ActionType.Up)">↑</label>
</div>
<div class="row">
    <label type="button" class="btn btn-default col-md-3 action-btn" data-action="@((int)ActionType.Left)">←</label>
    <label type="button" class="btn btn-default col-md-3 action-btn" data-action="@((int)ActionType.Action)">·</label>
    <label type="button" class="btn btn-default col-md-3 action-btn" data-action="@((int)ActionType.Right)">→</label>
</div>
<div class="row">
    <label type="button" class="btn btn-default col-md-offset-3 col-md-3 action-btn" data-action="@((int)ActionType.Down)">↓</label>
</div>